[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
flask-cors = "*"
autopep8 = "*"
flake8 = "*"
zappa = "*"

[requires]
python_version = "3.7"
