<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <title>Pyformatter</title>
  </head>
  <body>
    <div class="ui container">
      <h1 class="ui header" style="margin-top: 10px">Pyformatter</h1>
      <span>API to format python code</span>
    </div>
  </body>
</html>
